.align-center {
    display: flex;
    justify-content: center;
    align-items: ceter;
}

.margin-top-75 {
    margin-top: 75px;
}

.margin-top-50 {
    margin-top: 50px;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-top-20 {
    margin-top: 20px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}


.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.upload-group div {
    display: flex;
    justify-content: center;
}